.bg-text{
    color: rgba(25,29,43,.44);
    font-size: 44px;
    display: inline-block;
    position: absolute;
    top: -30px;
    text-transform: uppercase;
    user-select: none;
    z-index: -1;
}
/* absolute h-[45vh] w-full bg-black z-0 */
.bg-top{
    position: absolute;
    top: -20px;
    height: 55vh;
    width: 100%;
    background-color: rgb(2, 1, 20);
    /* z-index: -10; */
}

.personal-details{
    border-bottom: 1px solid  white;
}

@media screen and (max-width:640ox) {
    .btn-exp-res{
        display: none;
    }
}

.download-btn{
    background-color: #F8FAFC;
    border: 1px ;
    color: #334155;
    display: inline-block;
    font-size: .9rem;
    height: 50px;
    letter-spacing: 2px;
    line-height: 50px;
    padding: 0 30px;
    position: relative;
    text-transform: uppercase;
    transition: all .4s ease-out;
    z-index: 1;
}

/* .download-btn::before{
    background-color: #0C4A6E;
    bottom: 0;
    content: "hey";
    height: 2px;
    left: 0;
    position: absolute;
    top: auto;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .4s ease-out;
    width: 100%;
    z-index: -1;
} */

.download-btn:hover{
    background: transparent;
    border: 1px solid #F8FAFC;
    color: #F8FAFC;
}