.header-style {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: #070d1b;
  border-right: 1px solid #101624;
  z-index: 200;
  top: 0;
  left: 0;
  transition: all 0.4s ease-out;
}

.toggle-button {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  color: white;
  position: absolute;
  background-color: #191d2b;
  border: 1px solid #2e344e;
  left: 100%;
  top: 20px;
  padding: 0;
  width: 50px;
}

.div-button {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.line-1,
.line-3,
.line-2a {
  background-color: #a4acc4;
  height: 2px;
  width: 30px;
  transition: all 0.5s ease-out;
}

.line-2a-visible {
  background-color: #a4acc4;
  height: 2px;
  width: 25px;
  transition: all 0.5s ease-out;
  transform: skewY(45deg);
}

.line-2b-visible {
  background-color: #a4acc4;
  height: 2px;
  width: 25px;
  transform: skewY(-45deg);
  transition: all 0.5s ease-out;
}

.left-container {
  border-bottom: 1px solid #101624;
  padding-bottom: 40px;
}
.img-container {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.1);
  margin: auto;
}

.active {
  color: #fec544;
  border: 1px solid #d97706;
}

.right-container {
  display: block;
  padding: 15px 5px;
}

.right-container li {
  margin-bottom: 6px;
  display: block;
}
.right-container li a {
  display: block;
  position: relative;
  letter-spacing: 1px;
  padding: 8px 0;
  text-align: center;
  transition: all 0.5s ease-out;
  z-index: 1;
  overflow: hidden;
  background-color: rgba(3, 127, 255, 0.2);
}

.right-container li a::before {
  background-color: rgba(3, 127, 255, 0.2);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 100%;
  top: 0;
  transition: all 0.5s ease-out;
  visibility: hidden;
  width: 0;
  z-index: -1;
}

@media screen and (max-width: 1023px) {
  .header-style-hidden {
    width: 280px;
    left: -280px;
  }
  .header-style-visible {
    left: 0px;
  }
  .toggle-button {
    display: flex;
  }
  .mobile-view {
    width: 100%;
  }
}
