.bg-img {
  background-image: url("https://devis-react.vercel.app/images/background/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-title{
  animation: bounce 2s ease-out;
}

@keyframes bounce{
  0%{
    transform: translateX(-800px);
  }
  100%{
    transform: translateX(0px);
  }
}

.my-details{
  animation: blinkAnime 3s ease-out;
}
@keyframes blinkAnime{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}